footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    width: 1440px;
    height: 88px;
    box-sizing: border-box;
    padding: 32px 50px;

    & span {
        color: #F8FDFE;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}