$full-width: 1440px;

// MIXIN

@mixin hit {
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
}

@mixin new {
    border-radius: 4px;
    background: #AF39E7;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
}

@mixin sale {
    border-radius: 4px;
    background: #EA33C0;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

@mixin old-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
}

@mixin basket-add {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4C394E;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

@mixin basket-end {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}